@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #1337ec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101322;
  --font-family-sans: "Inter", sans-serif;
}
